html {
    /* height: 100%; */
    
    background-image: linear-gradient(#fc5e55,#fa4083);
}
body {
    background-image: url(images/image-lion-background.png);
    
    background-repeat: no-repeat;
    background-position:top center;

    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.125rem  ;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;

}
h1 {
    color: white;
    font-size:3.25rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.433);
}
p {
    line-height: 1.75rem;
    margin-bottom: .5rem;
}

nav .navbutton {
    margin-left: 4px;

}
nav a {
    text-decoration: none;
    color: #fcfcfc;
    
}
.navbutton {
    border-style: solid;
    border-width:1px 1px;
    padding: 10px;
    display: inline-block;
    border-color: #fcfcfc;
    font-family: 'Playfair Display', serif;
    position: relative;
}
.dropdown {
    display: none;
    position:absolute;
    z-index: 1;
    padding-top: 17px;
    text-align: center;
    margin-left: -34px;
    
}
.navbutton:hover .dropdown {
    display: block;

}
.navbutton .dropdown .navbutton {
    width: 140px;
    background-color: white;

}
.dropdown .navbutton a{
    color: black;
}
.dropdown .navbutton:hover {
    background-color: black;
    
}
.dropdown .navbutton:hover a {
    color:white ;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}
.main2 {
    min-height: 300px;
    padding-top: 40px;
}
.cards {
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;   
    box-sizing: border-box;
    padding: 30px 30px 20px 30px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.301);
    border-radius: 4px;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-sizing: border-box;
    padding: 30px 30px 20px 30px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.301);
    border-radius: 4px;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-sizing: border-box;
    padding: 30px 30px 20px 30px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.301);
    border-radius: 4px;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}
.mybutton {
    color: rgb(248, 20, 20);
    background-color: #fcfcfc;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.23);
}
.herobox2 {
    flex: 1;
}
.cards p {
    font-size: .85rem;
    line-height: 1.2rem;
    /* margin: 10px 30px 20px 30px; */
}
h2 { 
    margin-top:20px;
    font-size: 2rem;
}
.cards i {
    font-size: 90px;
    /* padding-top: 25px; */
}
.cards a {
    color: white;
    text-decoration: none;
}
.testimonals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.tbox {
    width: 47%;
    margin-top: 50px;
    border: 1px solid white;
    padding: 40px;
    box-sizing: border-box;
}
.tbox :last-of-type {
    padding-left: 30px;
    font-size: 0.8renm;

}
.inputwrapper {
    margin-bottom: 20px;
}
input[type=text],input[type=email],textarea {
    padding: 12px 10px;
    width: 100%;
    font-size: .85rem;
    box-sizing: border-box;
}
.newline {
    display: block;
    margin-bottom: 10px;
}
input[type=radio] {
    margin-right: 10px;
}
form {
    margin: 40px 0px;
}
.inputwrapper select {
    padding: 5px;
}